.card {
  max-width: 413px;
  position: relative;
}

.card__title {
  margin: 0;
  max-width: 353px;
  font-family: Poppins, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #212121;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__delete-bttn {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url(../images/delete.svg);
  background-color: transparent;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
}

.card__delete-bttn:hover {
  background-image: url(../images/deletered.svg);
  cursor: pointer;
}

.card__content {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__like-bttn {
  background-image: url(../images/Like\ Icon.svg);
  width: 23px;
  height: 20px;
  background-color: transparent;
  border: none;
  opacity: 40%;
  background-size: contain;
  background-repeat: no-repeat;
}

.card__like-bttn:hover {
  cursor: pointer;
  opacity: 1;
}

.card__like-bttn_active {
  background-image: url(../images/spots-avatar-and-card-images/Union.svg);
  opacity: 1;
}

.card__like-bttn_active:hover {
  opacity: 0.4;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .card__title {
    font-size: 16px;
    line-height: 1;
    max-width: 260px;
  }

  .card__image {
    height: 288px;
  }

  .card__like-bttn {
    width: 20px;
    height: 18px;
  }
}
