.footer {
  margin: 0 auto;
  padding-bottom: 60px;
  padding-top: 60px;
  display: flex;
  max-width: 1280px;
  justify-content: center;
  align-items: center;
}

.footer__content {
  margin: 0 auto;
  color: #212121b2;
  opacity: 70%;
  font-family: Poppins, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}
