.modal {
  visibility: hidden;
  background-color: #00000080;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s ease-in;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background: transparent url("../images/Close_Icon.svg") center no-repeat;
  background-size: 35px 35px;
  border: none;
  padding: 0;
}

.modal__close-btn_type_preview {
  top: 0;
  right: -52.5px;
  background-image: url(../images/delete..svg);
}

.modal__close-btn_type_preview:hover {
  background-image: url(../images/delete.vg.svg);
  cursor: pointer;
}

.modal__title {
  margin: 0 0 32px;
  font-family: Poppins, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin-bottom: 32px;
  display: block;
  font-family: Poppins, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 110.00000000000001%;
  color: #212121b2;
}

.modal__error {
  display: block;
  margin-top: 8px;
  color: #ff0000b2;
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins, Helvetica, sans-serif;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  border-radius: 8px;
  color: #212121;
  padding: 16px 12px 16px;
  font-family: Poppins, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.4);
}

.modal__input_type_error {
  border: 1px solid #ff000099;
}

.modal__label::placeholder {
  color: #2121214d;
}

.modal__submit-btn {
  max-width: 156px;
  width: 100%;
  padding: 18px 32px;
  background-color: #212121;
  color: #fcf5e5;
  border-radius: 8px;
  border: none;
  font-family: Poppins, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  transition: 0.3s;
}

.modal__submit-btn:hover {
  background-color: #212121cc;
}

.modal__submit-btn_disabled {
  background-color: #212121;
  opacity: 50%;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  object-fit: contain;
  display: block;
  width: 100%;
  border-radius: 8px;
}

.modal__image-container {
  position: relative;
}

.modal__caption {
  background-color: #212121;
  max-width: 214px;
  margin-top: 8px;
  padding: 4px 8px;
  border-radius: 8px;
  color: #fff;
  font-family: Poppins, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  width: fit-content;
}

@media screen and (max-width: 627px) {
  .modal__container {
    max-width: 300px;
    padding: 22px 12px 12px;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__input {
    font-size: 16px;
    width: 100%;
    margin-bottom: 24px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__image {
    max-width: unset;
  }

  .modal__caption {
    font-size: 16px;
    max-width: fit-content;
  }

  .modal__close-btn_type_preview {
    top: -48px;
    right: 0;
  }

  .modal__submit-btn {
    max-width: none;
    width: 100%;
  }
}
