.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  margin-right: 20px;
  border-radius: 8px;
  height: 190px;
  width: 190px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__title {
  margin: 0 0 12px;
  font-family: Poppins, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: #212121;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  font-family: Poppins, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #212121;
  opacity: 70%;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-bttn {
  margin-top: auto;
  padding-bottom: 0;
  display: flex;
  gap: 8px;
  opacity: 70%;
  color: #212121;
  border: none;
  background-color: inherit;
  font-family: Poppins, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
}
.profile__edit-bttn:hover {
  cursor: pointer;
  opacity: 100%;
}

.profile__icon {
  margin-right: 8px;
}

.profile__add-bttn {
  margin-left: auto;
  margin-top: auto;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 18px;
  background-color: #212121;
  width: 160px;
  max-height: 52px;
  color: #fcf5e5;
  border: none;
  font-family: Poppins, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
}

.profile__add-bttn:hover {
  cursor: pointer;
  opacity: 80%;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__title {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
  }

  .profile__column {
    margin: 0 0 20px;
    text-align: center;
  }

  .profile__edit-bttn {
    margin: 0;
    justify-content: center;
  }

  .profile__add-bttn {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
  }
}
